#logo {
    width: 21.4em;
    height: auto;
}

header {
    background-color: #192436;
    display:flex;
    justify-content: space-between;
    position: sticky;
    align-items:baseline;
    scroll-behavior: smooth;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

#back{
    background-image: url(../Media/back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

#menu{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    
}

#menu a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    padding: 0px  25px 0px 25px;
}

#menu a:hover {
    color: #192436;
    background-color: aliceblue;
    transition: 0.2s; 
    border-radius: 70px;
    padding: 5px 25px;
    text-decoration: dashed;
    text-shadow: 1px 1px 5px #192436;    
}


h2{
    display: block;
    text-align: center;
    padding: 50px 0px 20px 0px ;
    font-size: 3em;
    font-family:'Lucida Sans', Verdana, sans-serif ;    
    color: #192436;
    font-weight: bold;
    text-shadow: 2px 2px 20px black;

}


table{
        display: block;
        border: solid 5px brown;
        text-align: center;
        justify-self: center;
        margin: 10px 20% ;
        border-style: solid;
        padding: 0px 50px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

#head1{
    padding: 20px;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
    color:brown;
    text-decoration: underline;
}

.lab{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    font-style: italic;
}

.in{
    border-style: dotted;
    border-width: 0px 0px 2px 0px;
    border-color: brown;
    background-color: transparent;
}

.in:hover{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: brown;
}


.in:focus{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: red;
    outline-style: none;
}

#sub{
    border: solid 5px green ;
    background-color: rgb(255, 255, 255);
    color: green;
    padding: 5px 50px;
    font-size: 1.5em;
    border-radius: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10% 0px 10px 0px;
}

#sub:hover{
    background-color: green;
    color: white;
}


#view{
    display:flex;
    justify-self: center;
    border: solid 5px red ;
    background-color: white;
    color: red;
    padding: 5px 50px;
    font-size: 1.5em;
    border-radius: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2% 0px 0px 0px;
    text-decoration: none;

}



#view:hover{
    background-color: red;
    color: white;
}


#foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: last baseline;
    background-color: #192436;
    color: white;
    border : 0px 1px 0px 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    padding-top: 10px;
    justify-items: center;
}

#footicon{
    width:250px;
}